################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ciber/bin/Debug/net6.0
/Ciber/obj
/CiberTest/obj
/CiberTest/bin/Debug/net6.0
