html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.dataTables_length {
    float:right !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.navbar-nav {
    list-style: none;
}
    .navbar-nav > li > a {
        padding: 15px;
        line-height: 50px;
    }