USE [CiberDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/26/2023 1:03:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](250) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Customer_1] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/26/2023 1:03:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[OrderName] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[Amount] [int] NULL,
	[Status] [int] NULL,
	[OrderDate] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/26/2023 1:03:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[ProductCategory_ID] [int] NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[Description] [ntext] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 5/26/2023 1:03:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductCategory_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [ntext] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductCategory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Customer_ID], [Name], [Address], [Status]) VALUES (1, N'Customer1', N'Ha Noi', 1)
INSERT [dbo].[Customer] ([Customer_ID], [Name], [Address], [Status]) VALUES (2, N'Customer2', N'Sai Gon', 1)
INSERT [dbo].[Customer] ([Customer_ID], [Name], [Address], [Status]) VALUES (3, N'Customer3', N'Da Nang', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Order_ID], [Customer_ID], [Product_ID], [OrderName], [CreateDate], [Amount], [Status], [OrderDate]) VALUES (1, 1, 1, N'Đơn hàng 1', CAST(N'2023-05-25T10:00:00.000' AS DateTime), 1, 1, CAST(N'2023-05-25T10:00:00.000' AS DateTime))
INSERT [dbo].[Order] ([Order_ID], [Customer_ID], [Product_ID], [OrderName], [CreateDate], [Amount], [Status], [OrderDate]) VALUES (2, 4, 2, N'Đơn hàng 2', CAST(N'2023-05-25T00:00:00.000' AS DateTime), 5, 1, CAST(N'2023-05-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Order] ([Order_ID], [Customer_ID], [Product_ID], [OrderName], [CreateDate], [Amount], [Status], [OrderDate]) VALUES (3, 2, 3, N'Đơn hàng 3', CAST(N'2023-05-25T00:00:00.000' AS DateTime), 2, 1, CAST(N'2023-05-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Product_ID], [Name], [ProductCategory_ID], [Price], [Quantity], [Description], [Status]) VALUES (1, N'Coca Cola', 1, 20000, 100, N'Nước uống Coca cola', 1)
INSERT [dbo].[Product] ([Product_ID], [Name], [ProductCategory_ID], [Price], [Quantity], [Description], [Status]) VALUES (2, N'Pepsi', 1, 21000, 200, N'Nước uống Pepsi', 1)
INSERT [dbo].[Product] ([Product_ID], [Name], [ProductCategory_ID], [Price], [Quantity], [Description], [Status]) VALUES (3, N'Seven Up', 1, 22000, 150, N'Nước uống Pepsi', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ProductCategory_ID], [Name], [Description], [Status]) VALUES (1, N'Beverage', N'Danh mục nước giải khát', 1)
INSERT [dbo].[ProductCategory] ([ProductCategory_ID], [Name], [Description], [Status]) VALUES (2, N'Fruit', N'Danh mục hoa quả', 1)
INSERT [dbo].[ProductCategory] ([ProductCategory_ID], [Name], [Description], [Status]) VALUES (3, N'Bread', N'Danh mục bánh mỳ', 1)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([ProductCategory_ID])
REFERENCES [dbo].[ProductCategory] ([ProductCategory_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory]
GO
